@tailwind base;
@tailwind components;
@tailwind utilities;

.dashboard.active .dashboard__sidebar {
    @apply translate-x-0;
}

.dashboard.active .dashboard__overlay,
.sidebar__item.active ~ .sidebar__submenu,
.sidebar__item.active .sidebar__item-icon--down {
    @apply block;
}

.sidebar__item.active .sidebar__item-icon--right {
    @apply hidden;
}

.form-control[disabled] {
    @apply bg-gray-50;
}

.store__list-map iframe {
    @apply w-full h-full rounded-lg;
}

.store__list-item.active {
    @apply bg-gray-50;
}

#header-bottom.active {
    @apply fixed top-0 left-0 right-0 opacity-95 h-[70px] shadow-md z-20;
    animation: slideDown 0.6s ease-in-out;
}

.btn__scroll-top.active {
    @apply bottom-5 visible;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0)
    }
}

.cate-news-item.active .cate-news-icon {
    @apply bg-[#D9A953] text-white
}

.cate-news-item.active .cate-news-name {
    @apply text-[#D9A953]
}

.btn-heart.active {
    @apply bg-red-700 border-red-700 text-white
}

.wishlist.active .wishlist__content,
.nav__mobile.active .nav__mobile-content {
    @apply translate-x-0
}

.nav__mobile.active {
    @apply visible
}

.wishlist.active .wishlist__overlay,
.nav__mobile.active .nav__mobile-overlay {
    @apply visible opacity-100
}

.filter__btn-view.active {
    @apply text-[#D9A953]
}

.form__add-cart-ice:checked ~ label,
.form__add-cart-sugar:checked ~ label,
.form__add-cart-size:checked ~ label{
    @apply shadow-md border-gray-500 text-black
}

.form__add-cart-total-price.active {
    @apply h-10
}

#btn-cart-update[disabled] {
    @apply opacity-60
}

/* rating */
	
.stars {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    color: #ddd;
}
.star__item {
    padding: 0px 3px;
    cursor: pointer;
}
.star__item:hover,
.star__item:hover ~ .star__item,
input[name="star"]:checked ~ .star__item,
.star__item--active {
    color: #FFBA01;
}

.limit-line-3 {
    text-overflow: ellipsis;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.limit-line-2 {
    text-overflow: ellipsis;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

#modal.active {
    @apply visible;
}

#modal.active #modal__overlay {
    @apply opacity-100
}

#modal.active #modal__body {
    @apply translate-y-0
}

label.error {
    @apply text-sm mt-0.5 text-red-500
}